@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Assigment 07</h1>
    <p>Here is where the banking magic happens.</p>
</div>
<table class="table">
    <tr>
        @foreach(var property in Model.Accounts.First().GetType().GetProperties())
        {
            <th>@property.Name</th>
        }
    </tr>
    
    @foreach (var account in Model.Accounts)
    {
        <tr>
            <td>@account.Number</td>
            <td>@account.Balance</td>
            <td>@account.Label</td>
            <td>@account.Owner</td>
        </tr>
    }
</table>